/* TEAM */

{{ author.title }}: {{ author.name }}
Site: {{ author.url }}
Location: {{ author.location }}

/* THANKS */

Django: https://djangoproject.com
PyPi: https://pypi.org
Read the Docs: https://readthedocs.org
StandardJS: https://standardjs.com

/* SITE */

Last Update: YYYY/MM/DD
Standards: CSS3, HTML5, PEP8, StandardJS*
Components: Django, jQuery, PostgreSQL, Python, UIKit
Software: django-softwaresublet, python-deployable, python-myninjas, python-projectutils, superdjango
