[project]
category = {{ project.category|default("uncategorized") }}
description = {{ project.description }}
stage = {{ project.stage|default("development") }}
title = {{ project.title }}
type = {{ project.type|default("project") }}
url = {{ project.url }}

{% if author %}
[author]
email = {{ author.email }}
name = {{ author.name }}
{% endif %}

{% if business %}
[business]
code = {{ business.code }}
name = {{ business.name }}
{% endif %}

{% if client %}
[client]
code = {{ client.code }}
name = {{ client.name }}
{% endif -%}

{% if domain %}
[domain]
name = {{ domain.name }}
tld = {{ domain.tld }}
{% endif -%}