# See https://packaging.python.org/en/latest/distributing.html
# and https://docs.python.org/2/distutils/setupscript.html
# and https://pypi.python.org/pypi?%3Aaction=list_classifiers
from setuptools import setup, find_packages


def read_file(path):
    with open(path, "r") as f:
        contents = f.read()
        f.close()
    return contents


setup(
    name="{{ project.name }}",
    version=read_file("VERSION.txt"),
    description=read_file("DESCRIPTION.txt"),
    long_description=read_file("README.markdown"),
    author='{{ author.name }}',
    author_email='{{ author.email }}',
    url='{{ project.url }}',
    packages=find_packages(),
    include_package_data=True,
    install_requires=[
        "python-myninjas",
        "python-commander",
        "semver",
        "tabulate",
    ],
    dependency_links=[
        "https://bitbucket.com/myninjas/python-myninjas/master.tar.gz#python-myninjas",
        "https://bitbucket.com/myninjas/python-commander/master.tar.gz#python-commander",
    ],
    classifiers=[
        'Development Status :: 2 - Pre-Alpha',
        'Environment :: Console',
        'Intended Audience :: Developers',
        'License :: OSI Approved :: BSD License',
        'Operating System :: OS Independent',
        'Programming Language :: Python',
        'Programming Language :: Python :: 3.6',
        'Programming Language :: Python :: 3.7',
    ],
    zip_safe=False,
    tests_require=[
        "coverage",
    ],
    test_suite='runtests.runtests',
    entry_points={
      'console_scripts': [
          'example = example.cli:main_command',
      ],
    },
)
