{{ sla.company_name }} provides an industry-leading product, and is pleased to support it with this Service Level Agreement
("SLA"). This SLA is incorporated into Customer's Agreement with us, and made a part of it. Terms not defined in this
SLA have the definitions set out in the Agreement. The remedies set out in this SLA are Customer's sole and exclusive
remedy for issues covered by the SLA. While we will not modify this SLA arbitrarily, we may do so from time-to-time.
Should we make a change to this SLA, we shall notify Customer (e.g. by email or by notification in the Customer control
panel). The notification will set out the effective date of any changes. It is important that Customer review the SLA
completely.

1. SERVICE AVAILABILITY.

{{ sla.company_name }} will provide service availability of 99.5% ("Service Availability"), calculated on a calendar
month basis. The Service Availability will be calculated as follows:

[Total number of minutes Service is available in a calendar month DIVIDED BY

(Total number of minutes in a calendar month LESS Excused Downtime)]

2. HOW TO RECEIVE SLA CREDITS.

Customer will receive a credit of {{ sla.credit_amount_display }} percent ({{ sla.credit_amount }}%) of Customer's monthly fee
for each hour in which we fail to meet the Service Availability for such month ("SLA Credits"). In order to receive SLA
Credits, Customer must make a request in writing to {{ sla.company_name }} via Support or to Customer's account manager (if
applicable) within 30 days of the event giving rise to such SLA Credits.  SLA Credits are based on our monitoring, may
not exceed the total amount of recurring fees Customer has paid to us for the month in which we failed to meet the
Service Availability, are forfeited at the expiration or termination of the Agreement, may not be aggregated, and will
not be paid in cash.

3. EXCUSED DOWNTIME.

"Excused Downtime" means:

- scheduled outages or Force Majeure events;
- downtime caused by a non-standard environment, Customer machine access, Customer's violation of the Agreement including
  the Acceptable Use Policy, Customer authored code or changes to the Site or Services by parties other than {{ sla.company_name }},
  or use that exceeds Customer's plan capacity (e.g. usage that exceeds the limit for the Customer's plan);
- emergency maintenance (e.g. in order to apply a patch to address a security vulnerability); and
- maintenance that is performed during the schedule below.

Service Maintenance Times

{{ sla.maintenance_start_day }} through {{ sla.maintenance_end_day }} {{ sla.maintenance_start_hour }} to {{ sla.maintenance_end_hour }}

({{ sla.maintenance_timezone }})
